.write_container {
	background-color: #ffffff;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center; /* 추가: 모든 자식 요소를 수평 중앙으로 정렬 */
	margin: 30px auto;
	padding: 30px 40px;
	width: 70%;
	box-sizing: border-box;
	box-shadow: 2px 2px 2px #e1e1e1;
}

.input-row {
	display: flex;
	justify-content: space-between; /* 두 개의 열을 양쪽 끝으로 배치 */
	width: 100%;
}

.input-row .column {
	display: flex;
	align-items: center;
	gap: 10px; /* 요소들 간의 간격 */
}

.input-row .column-left {
	justify-content: flex-start; /* 왼쪽 정렬 */
	margin-left: 20px;
}

.input-row .column-right {
	justify-content: flex-end; /* 오른쪽 정렬 */
	margin-right: 25px;
}
#endDate {
	width: 250px; /* 날짜 input의 너비를 더 크게 설정 */
	margin-left: 10px;
}

#numberOfUsers {
	width: 80px; /* 두 번째 input의 너비를 더 작게 설정 */
	margin-left: 10px;
}

.input-row input {
	width: auto; /* 필요한 경우 너비 조정 */
}

.write_title {
	background: none;
	font-size: 20px;
	font-weight: 600;
	color: #000;
}

.write_content {
	background: none;
	resize: none;
	font-size: 20px;
	height: 500px;
	color: #c9e9f8;
}

.write_style {
	outline: none;
	border-style: none;
	border-bottom: solid 2px #c9e9f8;
	width: 95%;
	padding: 20px;
}

.write_post {
	background-color: #fff;
	cursor: pointer;
	color: black;
	border: 5px solid #c9e9f8;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 20px;
	margin-top: 70px;
	width: fit-content;
	align-self: center; /* 추가: 버튼을 수평 중앙으로 정렬 */
}

.write_post:hover {
	background-color: #c9e9f8;
	color: black;
}
