.search-bar {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #f8f8f8;
	border-radius: 5px;
}

.search-dropdown {
	margin-right: 10px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search-input {
	flex-grow: 1;
	margin-right: 10px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.search-button {
	padding: 5px 15px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.search-button:hover {
	background-color: #0056b3;
}
